SoomlaAndroidExample/gen
SoomlaAndroidExample/.idea/workspace.xml
SoomlaAndroidExample/out
SoomlaAndroidExample/bin

SoomlaAndroidStore/.idea/
SoomlaAndroidStore/out/
SoomlaAndroidStore/gen/

SoomlaAndroidStoreTest/.idea/
SoomlaAndroidStoreTest/out/
SoomlaAndroidStoreTest/gen/

docs/*



SoomlaAndroidStore/SoomlaAndroidStore.iml

SoomlaAndroidExample/res/.DS_Store
