SoomlaAndroidExample/gen
SoomlaAndroidExample/.idea/workspace.xml
SoomlaAndroidExample/out

SoomlaAndroidStore/.idea/
SoomlaAndroidStore/out/
SoomlaAndroidStore/gen/

SoomlaAndroidStoreTest/.idea/
SoomlaAndroidStoreTest/out/
SoomlaAndroidStoreTest/gen/

docs/*



SoomlaAndroidStore/SoomlaAndroidStore.iml
